altgraph==0.17.5
chlorophyll==0.4.2
CTkToolTip==0.9
customtkinter==5.2.2
darkdetect==0.8.0
numpy==2.4.2
packaging==26.0
pefile==2024.8.26
Pygments==2.20.0
pyinstaller==6.18.0
pyinstaller-hooks-contrib==2026.0
pyperclip==1.11.0
pywin32-ctypes==0.2.3
setuptools==81.0.0
sly==0.5
tabulate==0.10.0
tklinenums==1.7.1
toml==0.10.2
